<ion-view title="BuildingSiteList" id="page6">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button" ng-click="createBuildingSiteBtn()">-->
      <!--新增-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-content padding="true" class="has-header">
    <ion-list id="buildingSiteList-list4">
      <ion-item class="item-icon-right" id="buildingSiteList-list-item5"><i class="titleP">装修工地</i>
        <i class="icon ion-android-add" ng-click="createBuildingSiteBtn()" ng-if="userInfo.userType == 1"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="main-list-item4"
                ng-repeat="item in items"
                ng-click="buildSiteItemClickBtn(item)">
        <img id="itemImg" src="{{item.avatarImg}}">
        <i class="commTitleP">{{item.name}}</i>
        <i class="addsP">{{item.adds}}</i>
        <i class="commDescTag" ng-repeat="tag in item.tag">{{tag.tag}}</i>
        <i class="siteProcessTag">{{item.workingProcess}}</i>
        <span class="badge badge-assertive">{{item.owner}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
