<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">用户名</span>
          <input type="text" placeholder="请输入用户名">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">密码</span>
          <input type="password" placeholder="请输入密码">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">激活码</span>
          <input type="text" placeholder="请输入激活码">
        </label>
      </ion-list>
      <div class="item">
        <button id="login-button1" class="button button-balanced  button-block" ng-click="loginBtn()">Log in</button>
        <a href="#" id="login-button2" class="button button-positive  button-block button-clear">普通用户无需输入密码</a>
      </div>
    </form>
  </ion-content>
</ion-view>
