<ion-view title="WorkDone" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <i class="item">提示：<br>请添加施工图片(最少四张)<br> 上传错误或失败请返回并重新上传</i>
      <a ng-repeat="img in images_list" type="item-text-wrap" style="background-image:url('{{ img.src }}');"
         class="eventListPicture">
      </a>
      <div class="button button-clear"
           style="width: 80px;height: 80px;max-height: 80px;background-image: url('../img/plus.png')"
      ng-click="addImage()" ng-if="isImageEmpty">
      </div>
    </div>
    <button class="button button-full button-balanced" ng-click="uploadImage()" ng-if="!isImageEmpty">
      上传
    </button>
  </ion-content>
</ion-view>
