<ion-view title="WorkDone" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <a ng-repeat="Event in eventList" type="item-text-wrap"style="background-image:url('{{ Event.picture }}');" class="eventListPicture">
        <h2>{{ Event.name }}</h2>
        <h3>{{ Event.StartDay|date:'shortDate'  }} {{ 'AT'  }} {{ Event.TheTime|date:'shortTime' }}</h3>
        <h3>{{ Event.fromMe }}</h3>
      </a>
    </div>
    <div class="list">
      <div class="item" ng-repeat="img in images_list">
        <img src="{{img.src}}" width="30%">
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="{{imgSrc}}">
      </div>
    </div>
    <button class="button button-full button-positive" ng-click="listTest()">
      拍照
    </button>
    <button class="button button-full button-positive" ng-click="pickImage()">
      相册
    </button>
  </ion-content>
</ion-view>
